* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.background {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-image: url();
}
.video {
  width: 100%;
}
.overplay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(18, 32, 24, 0.363);
}
.nav_top {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50 !important;
  height: 14%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(17, 15, 7, 0.247);
  box-shadow: 0 0 50px rgba(214, 206, 206, 0.514);
  padding-top: 0px;
}
.nav_top h1 {
  margin-left: 250px;
  font-size: 48pt;
  color: aquamarine;
}
.info {
  margin-left: 100px;
}
.nav_top a {
  color: white;
  font-size: 25pt;
  font-weight: 700;
  padding: 10px 20px;
  transition: all 0.5s;
}
.sign {
  margin-left: 150px;
}
.sign button {
  font-size: 23pt;
  padding: 6px 22px;
  border-radius: 8px;
  font-weight: 900;
  background-color: aquamarine;
  border: none;
  transition: 0.2s;
  color: rgb(255, 255, 255);
  color: black;
}
.nav_top a:hover {
  color: greenyellow;
  font-size: 30pt;
}
.nav_top button:hover {
  background-color: greenyellow;
  font-size: 26pt;
}
.nav_body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50 !important;
  width: 30vw;
  height: 55vh;
  box-shadow: 0 50px 30px rgba(8, 8, 8, 0.418);
  margin-top: 300px;
  margin-left: 230px;
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 40px;
  background-color: rgba(1, 15, 24, 0.384);
  border-radius: 10px;
}
.nav_body h1 {
  font-family: times, "Times New Roman";
  color: aquamarine;
  font-size: 70pt;
}
.nav_body p {
  margin: 25px 0;
  font-size: 20pt;
  color: rgb(255, 255, 255);
  font-weight: 900;
}
.nav_body button {
  font-size: 23pt;
  border-radius: 8px;
  font-weight: 900;
  background-color: aquamarine;
  border: none;
  transition: 0.2s;
  color: rgba(0, 0, 0, 0.726);
  padding: 0px 18px;
  padding-bottom: 5px;
  margin-top: 15px;
}
.nav_body button i {
  margin-left: 10px;
  margin-top: 10px;
}
